/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden; /* Hide scrollbars */
  background-color: #f6f7eb;
}

.dialogBackDropBackground {
  filter: blur(20px);
  background-color: #eff6fe;
  opacity: 0.7 !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dialog-header-error-message {
  color: red;
}

.hyper-text {
  color: #0078d4;
  text-decoration: underline;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
