<div class="loader-container">
    <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <mat-toolbar class="toolbar">
      <span class="fill-remaining-space"></span>
      <div class="dialog-header">
        <div class="dialog-header-title"> Complete Project </div>
        <div class="dialog-header-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>

    
   
           <label>Name: {{ Name}}</label>
    

    <div class="field-container-inline">
        <mat-form-field class="field-inline">
           <mat-label>Description: {{ Description}}</mat-label>
        </mat-form-field>
    </div>

    <div class="field-container-inline">
        <mat-form-field class="field-inline">
           <mat-label>StartDate: {{ Name}}</mat-label>
        </mat-form-field>
    </div>

    <div class="field-container-inline">
        <mat-form-field class="field-inline">
           <mat-label>EndDate: {{ EndDate}}</mat-label>
        </mat-form-field>
    </div>

    <div class="field-container-inline">
        <mat-form-field class="field-inline">
           <mat-label>SiteName: {{ SiteName}}</mat-label>
        </mat-form-field>
    </div>

    <div class="field-container-inline">
        <mat-form-field class="field-inline">
           <mat-label>SiteAddress: {{ SiteAddress}}</mat-label>
        </mat-form-field>
    </div>

  
    <di [formGroup]="completeForm" class="form" (ngSubmit)="onSubmit()">
        
      <form class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="ProjectStatusId">
            <mat-option *ngFor="let status of listOfProjectStatuses" [value]="status.id">
              {{status.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ProjectStatusId.touched && ProjectStatusId.invalid">
            <div *ngIf="ProjectStatusId.errors.required">Status is required.</div>
          </mat-error>
        </mat-form-field>

  
      <div class="button-row">
        <button mat-button mat-dialog-close>Cancel </button>
        <button mat-raised-button type="submit" class="button-submit">Submit</button>
      </div>
    </form>
  <div>
  
