
<br><br>
<div class="about-div">
    <mat-card class="header1">
    <h1>About Us</h1>
   </mat-card>
      <p>

   GabriQ Group Pty Ltd is a construction company that renders professional services in Construction and General building, at competitive prices hence promoting
   long-term relationships with potential clients. The company is based in the Gauteng area and does offer their services to different parts of the South Africa.
   GabriQ Group is a 100% Black Owned Company, with a rating of BBBEE  Level 1. 

   Our Major Clients include:
   <ul>
     <li>Private Sector </li>
     <li>Municipalities</li>
     <li>Mines</li>
     <li>Industrial firms</li>
   </ul>
 <p>
</div>
<br><br>

<div class="about-div">
 <mat-card class="header1">
 <h1>Areas of Specialisation</h1>
 </mat-card>
 <p> The services offered in General Construction are </p>
   <ul>
     <li>Brickwork </li>
     <li>Plasterwork</li>
     <li>Steelfixing</li>
   </ul>
  
   <p>Lift & Elevator Services</p>

   <ul>
     <li>New Installations of Elevators</li>
     <li>Maintainance and Repairs of existing lifts</li>
   </ul>
 </div>
 <br><br>
 <div class="about-div">
   <mat-card class="header1">
   <h1>Contact us</h1> 
 </mat-card>
   <p>Contact Person: Faith Ndlovu </p>
   <p>Cell: 071 514 7970 </p> 
   <p>Email: mahlase10@gmail.com </p>
 </div>