$body-background-color: #cccccc;
$general-color-code-1: #ffffff;
$general-color-code-2: #000000;
$general-color-code-3: #f5f5f5;
$general-color-code-4: #91959b;
$general-color-code-5: #eff6fe;
$general-global-color-babyblue: #eff6fe; //Potential replacement for grey
$general-global-color-red: #c36;
$general-global-color-cards:#F7FBFF; //For the forms text

$general-global-color-primary: #0080b5;
$general-global-color-primary-light: #5b91a8;
$general-global-color-secondary: #f16322;
$general-global-color-secondary-light: #f38b5b;
$general-global-color-text: #6f747e;
$general-global-color-f09f4c6: #eff6fe;
$general-global-color-750d3846: #ffffffbf;
$general-global-color-3104551: #91959b;
$general-global-color-5fbb1ae: #e7ebf0;

/*Dark color palette*/
$body-background-color: #cccccc;
$controlers-primary-background-color: #ffffff;
$controlers-secondary-background-color: #a4a29e;
$controlers-primary-forebackground-color: #161d20;
$controlers-secondary-forebackground-color: #36498f;
$controlers-tertiary-forebackground-color: #2d7c9d;

$palette-1181-color-1: #353535;
$palette-1181-color-2: #1b0f90;
$palette-1181-color-3: #6257e4;
$palette-1181-color-4: #fe1d02;
$palette-1181-color-5: #b4a8b2;
$palette-1181-color-6: #bbbbbb;
$palette-1181-color-7: #363a3e;
$palette-1181-color-8: #2c2e31;

/*Angular admin template website dashboard color*/
$palette-99070-color-1: #1e44ee;
$palette-99070-color-2: #466bf7;
$palette-99070-color-3: #141c3b;
$palette-99070-color-4: #747494;
$palette-99070-color-5: #b6b9ce;
$palette-99070-color-6: #1c1c3c;
$palette-99070-color-7: #ffffff;
