
<mat-sidenav-container>
  <mat-sidenav #sidenav position="start" mode="over">
     <admin-side-nav></admin-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar  role="heading" class="top-nav-bar">
          <mat-toolbar-row class="top-nav-bar-row">
              <button mat-icon-button (click)="sidenav.toggle()" class="top-nav-bar-row-toggle-button">
                  <mat-icon>menu</mat-icon>
              </button>
              <span>
                  <a  [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active"  class="router-link-active-admin-title">
                    Sustainable System Solutions
                  </a>
              </span>

              <span class="top-nav-bar-remaining-space"></span>

              <div class="top-nav-bar-controls">
                  <ul class="top-nav-bar-controls-items">
                      <li>
                          <button mat-button [matMenuTriggerFor]="menu" class="top-nav-bar-controls-item">
                             Hi, {{username}}
                          </button>
                          <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="onSignOut()">
                                  <mat-icon>exit_to_app</mat-icon>
                                  Sign out
                              </button>
                          </mat-menu>
                      </li>
                  </ul>
              </div>
          </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
