<div class="loader-container">
  <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
</div>
<div class="container">
  <mat-toolbar class="toolbar">
    <span class="fill-remaining-space"></span>
    <div class="dialog-header">
      <div class="dialog-header-title">Update Project </div>
      <div class="dialog-header-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
    </div>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <form [formGroup]="updateForm" class="form" (ngSubmit)="onSubmit()">

    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="ProjectStatusId">
          <mat-option *ngFor="let status of listOfProjectStatuses" [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ProjectStatusId.touched && ProjectStatusId.invalid">
          <div *ngIf="ProjectStatusId.errors.required">Status is required.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-inline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name" type="text" required>
        <mat-error *ngIf="Name.touched && Name.invalid">
          <div *ngIf="Name.errors.required">Name is required.</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Project Description</mat-label>
        <textarea matInput formControlName="Description" rows="3" required></textarea>
        <mat-error *ngIf="Description.touched && Description.invalid">
          <div *ngIf="Description.errors.required">Description is required.</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1"  formControlName="StartDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="StartDate.touched && StartDate.invalid">
          <div *ngIf="StartDate.errors.required">Start Date is required.</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field-inline">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="EndDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="EndDate.touched && EndDate.invalid">
          <div *ngIf="EndDate.errors.required">End Date is required.</div>
        </mat-error>
      </mat-form-field>
    </div>


    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Site Name</mat-label>
        <input matInput formControlName="SiteName" type="text" required>
        <mat-error *ngIf="SiteName.touched && SiteName.invalid">
          <div *ngIf="SiteName.errors.required">Site Name is required.</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Site Address</mat-label>
        <input matInput formControlName="SiteAddress" type="text" required>
        <mat-error *ngIf="SiteAddress.touched && SiteAddress.invalid">
          <div *ngIf="SiteAddress.errors.required">Site Address is required.</div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-button mat-dialog-close>Cancel </button>
      <button mat-raised-button type="submit" class="button-submit">Submit</button>
    </div>
  </form>
</div>
