<div class="loader-container">
    <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <mat-toolbar class="toolbar">
      <span class="fill-remaining-space"></span>
      <div class="dialog-header">
        <div class="dialog-header-title">Add new Phase </div>
        <div class="dialog-header-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  
    <form [formGroup]="addFrom" class="form" (ngSubmit)="onSubmit()">
      
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="Name" type="text" required>
          <mat-error *ngIf="Name.touched && Name.invalid">
            <div *ngIf="Name.errors.required">Name is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="Address" type="text" required>
          <mat-error *ngIf="Address.touched && Address.invalid">
            <div *ngIf="Address.errors.required">Address is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Job Description</mat-label>
          <textarea matInput formControlName="JobDescription" rows="3" required></textarea>
          <mat-error *ngIf="JobDescription.touched && JobDescription.invalid">
            <div *ngIf="JobDescription.errors.required">Job Description is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Telephone Number</mat-label>
          <textarea matInput formControlName="TelephoneNumber" rows="3" required></textarea>
          <mat-error *ngIf="TelephoneNumber.touched && TelephoneNumber.invalid">
            <div *ngIf="TelephoneNumber.errors.required">Telephone Number is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Email Address</mat-label>
          <textarea matInput formControlName="EmailAddress" rows="3" required></textarea>
          <mat-error *ngIf="EmailAddress.touched && EmailAddress.invalid">
            <div *ngIf="EmailAddress.errors.required">Email Address is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Phase ID</mat-label>
          <input matInput formControlName="PhaseID" type="text" required>
          <mat-error *ngIf="PhaseID.touched && PhaseID.invalid">
            <div *ngIf="PhaseID.errors.required">Phase ID is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="button-row">
        <button mat-button mat-dialog-close>Cancel </button>
        <button mat-raised-button type="submit" class="button-submit">Submit</button>
      </div>
    </form>
  </div>
  