<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Sustainable System Solutions </h2>
      </div>
  </div>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/dashboard']">Dashboard</a>

  <mat-divider></mat-divider>

  <h2 matSubheader class="sub-header">Projects</h2>
  <a mat-list-item [routerLink]="['/admin/projects']" class="menu-item">Manage Projects</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/project-statuses']" class="menu-item">Manage Project Statuses</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/phase-statuses']" class="menu-item">Manage Phase Statuses</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/task-statuses']" class="menu-item">Manage Task Statuses</a>
  
  <mat-divider></mat-divider>

  <h2 matSubheader class="sub-header">Subcontractors</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/add-subcontractors']" class="menu-item">Add Subcontractors</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/list-subcontractors']" class="menu-item">List Subcontractors</a>

  <h2 matSubheader class="sub-header">Equipment</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/add-equipment']" class="menu-item">Add Equipment</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/list-equipment']" class="menu-item">List Equipment</a>



  <mat-divider></mat-divider>

  <h2 matSubheader class="sub-header">Employees</h2>
  <a mat-list-item [routerLink]="['/admin/employees']" class="menu-item">Manage Employees</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['/admin/employee-types']" class="menu-item">Manage Employee Types</a>


  <h2 matSubheader class="sub-header">Setup</h2>
  <a mat-list-item [routerLink]="['/admin/app-roles']" class="menu-item">Manage App Roles</a>


</mat-nav-list>

