<div class="loader-container">
    <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <mat-toolbar class="toolbar">
      <span class="fill-remaining-space"></span>
      <div class="dialog-header">
        <div class="dialog-header-title">Add Proposed Tender </div>
        <div class="dialog-header-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  
    <form [formGroup]="addForm" class="form" (ngSubmit)="onSubmit()">
  
  
  
        
        <div class="field-container-inline">
        <mat-form-field class="field-inline">
          <mat-label>Tender Name</mat-label>
          <input matInput formControlName="TenderName" type="text" required>
          <mat-error *ngIf="TenderName.touched && TenderName.invalid">
            <div *ngIf="TenderName.errors.required">Tender Name is required.</div>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="field-inline">
          <mat-label>Tender Description</mat-label>
          <input matInput formControlName="description" type="text" required>
          <mat-error *ngIf="description.touched && description.invalid">
            <div *ngIf="description.errors.required">Tender Description is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      
      <div class="field-container-inline">
      <mat-form-field class="field-inline">
        <mat-label>Date Submitted</mat-label>
        <input matInput [matDatepicker]="picker1"  formControlName=" dateSubmitted">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf=" dateSubmitted.touched &&  dateSubmitted.invalid">
          <div *ngIf=" dateSubmitted.errors.required">Date submitted is required.</div>
        </mat-error>
      </mat-form-field>
  
        <mat-form-field class="field-inline">
          <mat-label>Tender Source</mat-label>
          <input matInput formControlName="tenderSource" type="text" required>
          <mat-error *ngIf="tenderSource.touched && tenderSource.invalid">
            <div *ngIf="tenderSource.errors.required">Tender Source is required.</div>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field-inline">
        <mat-label>Tender Status</mat-label>
        <mat-select formControlName=" tenderStatus">
          <mat-option  value="Submitted">Submitted</mat-option>
        </mat-select>
        <mat-error *ngIf=" tenderStatus.touched &&  tenderStatus.invalid">
          <div *ngIf=" tenderStatus.errors.required">Status is required.</div>
        </mat-error>
      </mat-form-field>

         <mat-form-field class="field-inline">
          <mat-label>Client Name</mat-label>
          <input matInput formControlName="clientName" type="text" required>
          <mat-error *ngIf="clientName.touched && clientName.invalid">
            <div *ngIf="clientName.errors.required">Client Name is required.</div>
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="button-row">
        <button mat-button mat-dialog-close>Cancel </button>
        <button mat-raised-button type="submit" class="button-submit" >Submit</button>
      </div>

      <div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>
  
<!-- Shareable short link of  uoloaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> View File</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div><div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div>
  
<!-- Shareable short link of  uoloaded file -->
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> View File</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
  
<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
</div>

    </form>
  </div>

